.loginBox {
	width: 420px;
	background: transparent;
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	border: 2px solid rgba(255, 255, 255, .2);
	padding: 30px 40px;
	border-radius: 10px;
	backdrop-filter: blur(30px);
}

.loginBox form h1 {
	text-align: center;
	font-size: 36px;
}

.loginBox form .inputBx {
	position: relative;
	width: 100%;
	height: 50px;
	margin: 30px 0;
}

.loginBox form .inputBx input {
	width: 100%;
	height: 100%;
	border: 2px solid rgba(255, 255, 255, .2);
	padding: 20px 45px 20px 20px;
	background: transparent;
	outline: none;
	font-size: 16px;
	color: #FFF;
	border-radius: 40px;
}

.loginBox form .inputBx input::placeholder {
	color: #FFF;
}

.loginBox form .inputBx .icon {
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 16px;
	pointer-events: none;
}

.loginBox .remmber_forgot {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 14.5px;
	margin: -15px 0 15px;
}

.loginBox .remmber_forgot label {
	display: flex;
	align-items: center;
	gap: 4px;
}

.loginBox .remmber_forgot label input {
	accent-color: #FFF;
}

.loginBox a {
	text-decoration: none;
	color: #FFF;
}

.loginBox a:hover {
	text-decoration: underline;
}

.loginBox form button {
	width: 100%;
	height: 45px;
	background: #FFF;
	color: #333;
	outline: none;
	border: none;
	border-radius: 40px;
	font-size: 16px;
	font-weight: 700;
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.loginBox .linkSignUp {
	text-align: center;
	font-size: 14.5px;
	margin: 20px 0 15px;
}

.linkSignUp .linkSignUp p a {
	font-weight: 600;
}

@media screen and (max-width: 560px) {
	.loginBox {
		width: 380px;
	}
}